<h1>Home Page</h1>

{{!-- <table class="table mt-4 ms-4">
    <tbody>
        <tr>
            <th class="col-md-2" scope="row">ID</th>
            <td class="col-md-6">ID</td>
        </tr>

        <tr>
            <th class="col-md-2" scope="row">Tên</th>
            <td class="col-md-6">Name</td>
        </tr>
    </tbody>
</table> --}}