<!-- Section: Design Block -->

<section class="m-3 text-center text-lg-start">
    <style>
        .rounded-t-5 {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        @media (min-width: 992px) {
            .rounded-tr-lg-0 {
                border-top-right-radius: 0;
            }

            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }
        }
    </style>
    <div class="mt-5"></div>
    <div class="card mb-3">
        <div class="row g-0 d-flex align-items-center">
            <div class="col-lg-4 d-none d-lg-flex">
                <img src="/img/use-water-wisely.jpg" alt="Login Image"
                    class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
            </div>
            <div class="col-lg-8">
                <h1 class="m-3 text-center">ĐĂNG NHẬP</h1>
                <div class="card-body py-5 px-md-5">

                    <form method="post" action="/auth/login">
                        <!-- phoneNumber input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="phoneNumber">Số điện thoại</label>
                            <input type="number" id="phoneNumber" class="form-control" name="phoneNumber" />
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="password">Mật khẩu</label>
                            <input type="password" id="password" class="form-control" name="password" />
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary mb-4">Đăng nhập</button>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Design Block -->
