<div class="mt-4">
	<h3>Thêm căn hộ</h3>
	<form method="post" action="/home/create">
		<div class="mb-3">
			<label for="building" class="form-label">Toà nhà *</label>
			<input type="text" class="form-control" id="building" name="building">
		</div>

		<div class="mb-3">
			<label for="code" class="form-label">Mã căn hộ/ Số phòng *</label>
			<input type="text" class="form-control" id="code" name="code">
		</div>

		<div class="mb-3">
			<label for="address" class="form-label">Địa chỉ *</label>
			<input type="text" class="form-control" id="address" name="address">
		</div>

		<div class="mb-3">
			<label for="phoneNumber" class="form-label">SĐT người dùng</label>
			<input type="number" class="form-control" id="phoneNumber" name="phoneNumber">
		</div>

		{{!-- <div class="mb-3">
			<label for="waterMeterId" class="form-label">ID đồng hồ</label>
			<input type="text" class="form-control" id="waterMeterId" name="waterMeterId">
		</div> --}}
		
		<button type="submit" class="btn btn-primary">Thêm căn hộ</button>
	</form>
</div>